.todoslist {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-right: 10px;
  flex-wrap: wrap;
  flex-shrink: 0;
  
}

.title {
  display: flex;
  direction: row;
  /* justify-content: center; */
  align-items: center;
  background: #242731;
  mix-blend-mode: normal;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 41px;
  /* or 256% */
  margin: 10px;
  letter-spacing: 1px;
  width: 286px;
  height: 50px;
  padding: 10px;
  color: #ffffff;
  flex-shrink: 0; 
}
.addbutton {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
}

.addtodoform {
  width: 100%;
  height: 116px;
  background: #191b20;
  opacity: 0.8;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
}
.addtodoform textarea {
  background-color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 10px;
  outline: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.addtodoform textarea :focus {
  outline: none;
}
.inputcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Button:hover{
  cursor: pointer;
}
.inputcontainer input {
  background-color: transparent;
  border: none;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-left: 5px;
  width: 70%;
}
.inputcontainer input:focus {
  outline: none;
}


.Button {
  position: relative;
  display: inline-block;
}

/* Style the tooltip text */
.Button::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

/* Show the tooltip on hover */
.Button:hover::before {
  opacity: 1;
  visibility: visible;
}
.inputcontainer input[type="datetime-local"] {
  width: 30%;
  font-size: 16px;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Change the color of the icon */
}
